.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom:solid 1px black;
  position: fixed;
  top:0px;
  background-color: White;
  margin-top: 0px;
  z-index: 2;
  width:100%;

}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.logo p{
  margin-left: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  width:100%;
  margin-right: 20px;
  justify-content: flex-end;
  flex-flow: wrap;
}

.navigation a {
  color: black;
  margin: 10px;
}

.column {
  display: flex;
  position: relative;
  margin-top: 50px
}

.column .large {
  width: 630px;
  margin-right: 20px;
  margin-top: 20px;
  display:flex;
  flex-direction: column;
}

.column .medium {
  width: 300px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.column .small {
  width: 240px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.stories {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.short {
  width: 290px;
  margin: 5px;
}


#mother {
  background-image: url("../images/img-story-main.png");
  display:flex;
}

#earth {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  text-align: center;
}

#research {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  text-align: center;
}

#cat {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  text-align: center;
}

.photo {
  color:white;
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia;
  display: flex;
  align-items: center;
}

.photo h3 {

}


.large p {
  font-size: 17px;
  color: black;
  font-family: Georgia;
}

.medium p{
  font-size: 17px
  color:black;
  font-family:Georgia;
}

h2 {
  font-size: 40px;
  font-family: Georgia;
}

.small h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bites {
  background-color: WhiteSmoke;
  font-family:Verdana;
  font-size: 12px;
  color:DimGray;
  margin: 0px;
  border-bottom: solid 1px black;
}

.footer {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: MediumAquamarine;
  margin:auto;
  font-family: Verdana;
  font-size: 12px;
  position: relative;
}

.footer p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color:White;
  border-right: solid 2px white;
  padding-right: 10px;
}

.foot_navi {
  display: flex;
  flex-flow: wrap;
}

.foot_navi a {
  font-family: Verdana;
  font-size: 12px;
  color: black;
  margin-left: 15px;
}

.foot_navi h6 {
  font-family: Verdana;
  font-size: 12px;
  margin-left: 15px;
  color: black;
  font-weight: normal;
}
